<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
<!-- <app-followers></app-followers>

<app-http-sample-service></app-http-sample-service><br /><br />

<app-new-form-array></app-new-form-array><br /><br /><br />

<signup-form></signup-form><br /><br /><br />

<app-contact-form></app-contact-form><br /><br /><br />

<zippy title="Shipping Detail">
  Shipping Containter
</zippy>

<br /><br /><br />

<app-directives></app-directives>
<br /><br /><br />

<app-tweeter-likes [isActive]="twitter.isLiked" [likesCount]="twitter.likesCount" (addLikeClick)="likeClicked($event)"></app-tweeter-likes>

<br /><br /><br />
<app-tweeter-likes [isActive]="twitter.isLiked" [likesCount]="twitter.likesCount" (addLikeClick)="likeClicked($event)"></app-tweeter-likes>


<br /><br />

<app-bootstrap-panel>
  <ng-container class="heading">Heading</ng-container>
  <ng-container class="body">Body <br> Some other content</ng-container>
</app-bootstrap-panel>

<br /><br />

<app-my-favourite [is-favourite]="post.isFavourite" (change)="onFavouriteChanged($event)"></app-my-favourite>

<hr />
<input type="text" value="MeRaL" [appInputFormat]="'lowercase'" />
<br /><br />
-->
